body{
    color: blanchedalmond;
    background-color: bisque;
}
img{
    wwidth: 85%;
    height: 85%;
    border-radius: 15%;
    border: 2.5px solid black;
}
.center{
    text-align: center;
}