body{
    color: rgb(54, 47, 36);
    background-color: bisque;
}
img{
    width: 575px;
    height: 350px;
    border-radius: 150%;
    border: 2.5px solid black;
}
.center{
    text-align: center;
}